In [17]:
import numpy as np
import pandas as pd
import json

In [18]:
ALL_STATES= ['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY']#, 'PR']

ACC_STATES = ['CA', 'TX', 'FL', 'OR', 'MN', 'VA', 'SC', 'NY', 'PA', 'NC', 'TN', 'MI', 'MO']

In [19]:
root_dir = '../results/'
task = 'income'
embedding_method_list = ['one_hot', 'table_to_text']
source = 'CA'
model_name = 'xgb'
experiment_id_list = [i for i in range(150)]
metric_list = ["test_result_acc", "test_result_f1"]

# Initialize an empty list to collect data
data_records = []

for embedding_method in embedding_method_list:
    prefix = f'{root_dir}/{task}/{embedding_method}/{source}/{model_name}/'
    # Loop through experiment IDs
    for experiment_id in experiment_id_list:
        path = prefix + f'{experiment_id}.json'
        print(path)
        with open(path, 'r') as file:
            # Load its content and convert it into a Python dictionary
            data = json.load(file)
            # Extract required metrics and store in the list
            for metric in metric_list:
                for state in ALL_STATES:
                    value = data.get(metric, {}).get(state, None)  # Nested get to handle missing data gracefully
                    record = {
                        'experiment_id': experiment_id,
                        'metric': metric,
                        'state': state,
                        'embedding_method': embedding_method,
                        'value': value
                    }
                    data_records.append(record)
# Convert the list of records into a DataFrame
df = pd.DataFrame(data_records)

../results//income/one_hot/CA/xgb/0.json
../results//income/one_hot/CA/xgb/1.json
../results//income/one_hot/CA/xgb/2.json
../results//income/one_hot/CA/xgb/3.json
../results//income/one_hot/CA/xgb/4.json
../results//income/one_hot/CA/xgb/5.json
../results//income/one_hot/CA/xgb/6.json
../results//income/one_hot/CA/xgb/7.json
../results//income/one_hot/CA/xgb/8.json
../results//income/one_hot/CA/xgb/9.json
../results//income/one_hot/CA/xgb/10.json
../results//income/one_hot/CA/xgb/11.json
../results//income/one_hot/CA/xgb/12.json
../results//income/one_hot/CA/xgb/13.json
../results//income/one_hot/CA/xgb/14.json
../results//income/one_hot/CA/xgb/15.json
../results//income/one_hot/CA/xgb/16.json
../results//income/one_hot/CA/xgb/17.json
../results//income/one_hot/CA/xgb/18.json
../results//income/one_hot/CA/xgb/19.json
../results//income/one_hot/CA/xgb/20.json
../results//income/one_hot/CA/xgb/21.json
../results//income/one_hot/CA/xgb/22.json
../results//income/one_hot/CA/xgb/23.json
../results//income/one_hot/CA/xgb/24.json
../results//income/one_hot/CA/xgb/25.json
../results//income/one_hot/CA/xgb/26.json
../results//income/one_hot/CA/xgb/27.json
../results//income/one_hot/CA/xgb/28.json
../results//income/one_hot/CA/xgb/29.json
../results//income/one_hot/CA/xgb/30.json
../results//income/one_hot/CA/xgb/31.json
../results//income/one_hot/CA/xgb/32.json
../results//income/one_hot/CA/xgb/33.json
../results//income/one_hot/CA/xgb/34.json
../results//income/one_hot/CA/xgb/35.json
../results//income/one_hot/CA/xgb/36.json
../results//income/one_hot/CA/xgb/37.json
../results//income/one_hot/CA/xgb/38.json
../results//income/one_hot/CA/xgb/39.json
../results//income/one_hot/CA/xgb/40.json
../results//income/one_hot/CA/xgb/41.json
../results//income/one_hot/CA/xgb/42.json
../results//income/one_hot/CA/xgb/43.json
../results//income/one_hot/CA/xgb/44.json
../results//income/one_hot/CA/xgb/45.json
../results//income/one_hot/CA/xgb/46.json
../results//income/one_hot/CA/xgb/47.json
../results//income/one_hot/CA/xgb/48.json
../results//income/one_hot/CA/xgb/49.json
../results//income/one_hot/CA/xgb/50.json
../results//income/one_hot/CA/xgb/51.json
../results//income/one_hot/CA/xgb/52.json
../results//income/one_hot/CA/xgb/53.json
../results//income/one_hot/CA/xgb/54.json
../results//income/one_hot/CA/xgb/55.json
../results//income/one_hot/CA/xgb/56.json
../results//income/one_hot/CA/xgb/57.json
../results//income/one_hot/CA/xgb/58.json
../results//income/one_hot/CA/xgb/59.json
../results//income/one_hot/CA/xgb/60.json
../results//income/one_hot/CA/xgb/61.json
../results//income/one_hot/CA/xgb/62.json
../results//income/one_hot/CA/xgb/63.json
../results//income/one_hot/CA/xgb/64.json
../results//income/one_hot/CA/xgb/65.json
../results//income/one_hot/CA/xgb/66.json
../results//income/one_hot/CA/xgb/67.json
../results//income/one_hot/CA/xgb/68.json
../results//income/one_hot/CA/xgb/69.json
../results//income/one_hot/CA/xgb/70.json
../results//income/one_hot/CA/xgb/71.json
../results//income/one_hot/CA/xgb/72.json
../results//income/one_hot/CA/xgb/73.json
../results//income/one_hot/CA/xgb/74.json
../results//income/one_hot/CA/xgb/75.json
../results//income/one_hot/CA/xgb/76.json
../results//income/one_hot/CA/xgb/77.json
../results//income/one_hot/CA/xgb/78.json
../results//income/one_hot/CA/xgb/79.json
../results//income/one_hot/CA/xgb/80.json
../results//income/one_hot/CA/xgb/81.json
../results//income/one_hot/CA/xgb/82.json
../results//income/one_hot/CA/xgb/83.json
../results//income/one_hot/CA/xgb/84.json
../results//income/one_hot/CA/xgb/85.json
../results//income/one_hot/CA/xgb/86.json
../results//income/one_hot/CA/xgb/87.json
../results//income/one_hot/CA/xgb/88.json
../results//income/one_hot/CA/xgb/89.json
../results//income/one_hot/CA/xgb/90.json
../results//income/one_hot/CA/xgb/91.json
../results//income/one_hot/CA/xgb/92.json
../results//income/one_hot/CA/xgb/93.json
../results//income/one_hot/CA/xgb/94.json
../results//income/one_hot/CA/xgb/95.json
../results//income/one_hot/CA/xgb/96.json
../results//income/one_hot/CA/xgb/97.json
../results//income/one_hot/CA/xgb/98.json
../results//income/one_hot/CA/xgb/99.json
../results//income/one_hot/CA/xgb/100.json
../results//income/one_hot/CA/xgb/101.json
../results//income/one_hot/CA/xgb/102.json
../results//income/one_hot/CA/xgb/103.json
../results//income/one_hot/CA/xgb/104.json
../results//income/one_hot/CA/xgb/105.json
../results//income/one_hot/CA/xgb/106.json
../results//income/one_hot/CA/xgb/107.json
../results//income/one_hot/CA/xgb/108.json
../results//income/one_hot/CA/xgb/109.json
../results//income/one_hot/CA/xgb/110.json
../results//income/one_hot/CA/xgb/111.json
../results//income/one_hot/CA/xgb/112.json
../results//income/one_hot/CA/xgb/113.json
../results//income/one_hot/CA/xgb/114.json
../results//income/one_hot/CA/xgb/115.json
../results//income/one_hot/CA/xgb/116.json
../results//income/one_hot/CA/xgb/117.json
../results//income/one_hot/CA/xgb/118.json
../results//income/one_hot/CA/xgb/119.json
../results//income/one_hot/CA/xgb/120.json
../results//income/one_hot/CA/xgb/121.json
../results//income/one_hot/CA/xgb/122.json
../results//income/one_hot/CA/xgb/123.json
../results//income/one_hot/CA/xgb/124.json
../results//income/one_hot/CA/xgb/125.json
../results//income/one_hot/CA/xgb/126.json
../results//income/one_hot/CA/xgb/127.json
../results//income/one_hot/CA/xgb/128.json
../results//income/one_hot/CA/xgb/129.json
../results//income/one_hot/CA/xgb/130.json
../results//income/one_hot/CA/xgb/131.json
../results//income/one_hot/CA/xgb/132.json
../results//income/one_hot/CA/xgb/133.json
../results//income/one_hot/CA/xgb/134.json
../results//income/one_hot/CA/xgb/135.json
../results//income/one_hot/CA/xgb/136.json
../results//income/one_hot/CA/xgb/137.json
../results//income/one_hot/CA/xgb/138.json
../results//income/one_hot/CA/xgb/139.json
../results//income/one_hot/CA/xgb/140.json
../results//income/one_hot/CA/xgb/141.json
../results//income/one_hot/CA/xgb/142.json
../results//income/one_hot/CA/xgb/143.json
../results//income/one_hot/CA/xgb/144.json
../results//income/one_hot/CA/xgb/145.json
../results//income/one_hot/CA/xgb/146.json
../results//income/one_hot/CA/xgb/147.json
../results//income/one_hot/CA/xgb/148.json
../results//income/one_hot/CA/xgb/149.json
../results//income/table_to_text/CA/xgb/0.json
../results//income/table_to_text/CA/xgb/1.json
../results//income/table_to_text/CA/xgb/2.json
../results//income/table_to_text/CA/xgb/3.json
../results//income/table_to_text/CA/xgb/4.json
../results//income/table_to_text/CA/xgb/5.json
../results//income/table_to_text/CA/xgb/6.json
../results//income/table_to_text/CA/xgb/7.json
../results//income/table_to_text/CA/xgb/8.json
../results//income/table_to_text/CA/xgb/9.json
../results//income/table_to_text/CA/xgb/10.json
../results//income/table_to_text/CA/xgb/11.json
../results//income/table_to_text/CA/xgb/12.json
../results//income/table_to_text/CA/xgb/13.json
../results//income/table_to_text/CA/xgb/14.json
../results//income/table_to_text/CA/xgb/15.json
../results//income/table_to_text/CA/xgb/16.json
../results//income/table_to_text/CA/xgb/17.json
../results//income/table_to_text/CA/xgb/18.json
../results//income/table_to_text/CA/xgb/19.json
../results//income/table_to_text/CA/xgb/20.json
../results//income/table_to_text/CA/xgb/21.json
../results//income/table_to_text/CA/xgb/22.json
../results//income/table_to_text/CA/xgb/23.json
../results//income/table_to_text/CA/xgb/24.json
../results//income/table_to_text/CA/xgb/25.json
../results//income/table_to_text/CA/xgb/26.json
../results//income/table_to_text/CA/xgb/27.json
../results//income/table_to_text/CA/xgb/28.json
../results//income/table_to_text/CA/xgb/29.json
../results//income/table_to_text/CA/xgb/30.json
../results//income/table_to_text/CA/xgb/31.json
../results//income/table_to_text/CA/xgb/32.json
../results//income/table_to_text/CA/xgb/33.json
../results//income/table_to_text/CA/xgb/34.json
../results//income/table_to_text/CA/xgb/35.json
../results//income/table_to_text/CA/xgb/36.json
../results//income/table_to_text/CA/xgb/37.json
../results//income/table_to_text/CA/xgb/38.json
../results//income/table_to_text/CA/xgb/39.json
../results//income/table_to_text/CA/xgb/40.json
../results//income/table_to_text/CA/xgb/41.json
../results//income/table_to_text/CA/xgb/42.json
../results//income/table_to_text/CA/xgb/43.json
../results//income/table_to_text/CA/xgb/44.json
../results//income/table_to_text/CA/xgb/45.json
../results//income/table_to_text/CA/xgb/46.json
../results//income/table_to_text/CA/xgb/47.json
../results//income/table_to_text/CA/xgb/48.json
../results//income/table_to_text/CA/xgb/49.json
../results//income/table_to_text/CA/xgb/50.json
../results//income/table_to_text/CA/xgb/51.json
../results//income/table_to_text/CA/xgb/52.json
../results//income/table_to_text/CA/xgb/53.json
../results//income/table_to_text/CA/xgb/54.json
../results//income/table_to_text/CA/xgb/55.json
../results//income/table_to_text/CA/xgb/56.json
../results//income/table_to_text/CA/xgb/57.json
../results//income/table_to_text/CA/xgb/58.json
../results//income/table_to_text/CA/xgb/59.json
../results//income/table_to_text/CA/xgb/60.json
../results//income/table_to_text/CA/xgb/61.json
../results//income/table_to_text/CA/xgb/62.json
../results//income/table_to_text/CA/xgb/63.json
../results//income/table_to_text/CA/xgb/64.json
../results//income/table_to_text/CA/xgb/65.json
../results//income/table_to_text/CA/xgb/66.json
../results//income/table_to_text/CA/xgb/67.json
../results//income/table_to_text/CA/xgb/68.json
../results//income/table_to_text/CA/xgb/69.json
../results//income/table_to_text/CA/xgb/70.json
../results//income/table_to_text/CA/xgb/71.json
../results//income/table_to_text/CA/xgb/72.json
../results//income/table_to_text/CA/xgb/73.json
../results//income/table_to_text/CA/xgb/74.json
../results//income/table_to_text/CA/xgb/75.json
../results//income/table_to_text/CA/xgb/76.json
../results//income/table_to_text/CA/xgb/77.json
../results//income/table_to_text/CA/xgb/78.json
../results//income/table_to_text/CA/xgb/79.json
../results//income/table_to_text/CA/xgb/80.json
../results//income/table_to_text/CA/xgb/81.json
../results//income/table_to_text/CA/xgb/82.json
../results//income/table_to_text/CA/xgb/83.json
../results//income/table_to_text/CA/xgb/84.json
../results//income/table_to_text/CA/xgb/85.json
../results//income/table_to_text/CA/xgb/86.json
../results//income/table_to_text/CA/xgb/87.json
../results//income/table_to_text/CA/xgb/88.json
../results//income/table_to_text/CA/xgb/89.json
../results//income/table_to_text/CA/xgb/90.json
../results//income/table_to_text/CA/xgb/91.json
../results//income/table_to_text/CA/xgb/92.json
../results//income/table_to_text/CA/xgb/93.json
../results//income/table_to_text/CA/xgb/94.json
../results//income/table_to_text/CA/xgb/95.json
../results//income/table_to_text/CA/xgb/96.json
../results//income/table_to_text/CA/xgb/97.json
../results//income/table_to_text/CA/xgb/98.json
../results//income/table_to_text/CA/xgb/99.json
../results//income/table_to_text/CA/xgb/100.json
../results//income/table_to_text/CA/xgb/101.json
../results//income/table_to_text/CA/xgb/102.json
../results//income/table_to_text/CA/xgb/103.json
../results//income/table_to_text/CA/xgb/104.json
../results//income/table_to_text/CA/xgb/105.json
../results//income/table_to_text/CA/xgb/106.json
../results//income/table_to_text/CA/xgb/107.json
../results//income/table_to_text/CA/xgb/108.json
../results//income/table_to_text/CA/xgb/109.json
../results//income/table_to_text/CA/xgb/110.json
../results//income/table_to_text/CA/xgb/111.json
../results//income/table_to_text/CA/xgb/112.json
../results//income/table_to_text/CA/xgb/113.json
../results//income/table_to_text/CA/xgb/114.json
../results//income/table_to_text/CA/xgb/115.json
../results//income/table_to_text/CA/xgb/116.json
../results//income/table_to_text/CA/xgb/117.json
../results//income/table_to_text/CA/xgb/118.json
../results//income/table_to_text/CA/xgb/119.json
../results//income/table_to_text/CA/xgb/120.json
../results//income/table_to_text/CA/xgb/121.json
../results//income/table_to_text/CA/xgb/122.json
../results//income/table_to_text/CA/xgb/123.json
../results//income/table_to_text/CA/xgb/124.json
../results//income/table_to_text/CA/xgb/125.json
../results//income/table_to_text/CA/xgb/126.json
../results//income/table_to_text/CA/xgb/127.json
../results//income/table_to_text/CA/xgb/128.json
../results//income/table_to_text/CA/xgb/129.json
../results//income/table_to_text/CA/xgb/130.json
../results//income/table_to_text/CA/xgb/131.json
../results//income/table_to_text/CA/xgb/132.json
../results//income/table_to_text/CA/xgb/133.json
../results//income/table_to_text/CA/xgb/134.json
../results//income/table_to_text/CA/xgb/135.json
../results//income/table_to_text/CA/xgb/136.json
../results//income/table_to_text/CA/xgb/137.json
../results//income/table_to_text/CA/xgb/138.json
../results//income/table_to_text/CA/xgb/139.json
../results//income/table_to_text/CA/xgb/140.json
../results//income/table_to_text/CA/xgb/141.json
../results//income/table_to_text/CA/xgb/142.json
../results//income/table_to_text/CA/xgb/143.json
../results//income/table_to_text/CA/xgb/144.json
../results//income/table_to_text/CA/xgb/145.json
../results//income/table_to_text/CA/xgb/146.json
../results//income/table_to_text/CA/xgb/147.json
../results//income/table_to_text/CA/xgb/148.json
../results//income/table_to_text/CA/xgb/149.json

In [20]:
# Group the DataFrame and apply multiple aggregation functions to the 'value' column
grouped_df = df.groupby(['metric', 'state', 'embedding_method', ])['value'].agg(['mean', 'max', 'min', 'std']).reset_index()

# Rename the columns for clarity (optional)
grouped_df.columns = ['metric', 'state', 'embedding_method', 'mean_value', 'max_value', 'min_value', 'std_dev']

# Now, grouped_df contains the mean, max, min, and standard deviation of the 'value' column
# for each combination of 'embedding_method', 'metric', and 'state'.
grouped_df.head(200)

,metric,state,embedding_method,mean_value,max_value,min_value,std_dev
0,test_result_acc,AK,one_hot,0.732446,0.776932,0.387197,0.070916
1,test_result_acc,AK,table_to_text,0.732192,0.780598,0.463903,0.056516
2,test_result_acc,AL,one_hot,0.728420,0.768771,0.311209,0.076405
3,test_result_acc,AL,table_to_text,0.732028,0.765897,0.340129,0.046944
4,test_result_acc,AR,one_hot,0.723681,0.763228,0.268505,0.082000
...,...,...,...,...,...,...,...
195,test_result_f1,WI,table_to_text,0.692026,0.746304,0.309128,0.092608
196,test_result_f1,WV,one_hot,0.680046,0.731232,0.226358,0.096557
197,test_result_f1,WV,table_to_text,0.675277,0.726269,0.275293,0.082335
198,test_result_f1,WY,one_hot,0.688819,0.742260,0.264033,0.097343
199,test_result_f1,WY,table_to_text,0.675373,0.731495,0.322674,0.088613

In [21]:
# average performance difference between different methods

for col_name in ['mean_value', 'max_value', 'min_value']:
    for metric in metric_list:
        total_diff = 0
        for state in ACC_STATES:
            for embedding_method in embedding_method_list:
                table_to_text = grouped_df[(grouped_df['metric'] == metric) & (grouped_df['state'] == state) & (grouped_df['embedding_method'] == 'table_to_text')][col_name].values[0]
                one_hot = grouped_df[(grouped_df['metric'] == metric) & (grouped_df['state'] == state) & (grouped_df['embedding_method'] == 'one_hot')][col_name].values[0]
                diff = table_to_text - one_hot
                total_diff += diff
        average_diff = total_diff / len(ACC_STATES)
        print(f'Average {col_name} difference for {metric}: {average_diff * 100:.2f}%')

Average mean_value difference for test_result_acc: -0.45%
Average mean_value difference for test_result_f1: -2.09%
Average max_value difference for test_result_acc: -1.39%
Average max_value difference for test_result_f1: -1.91%
Average min_value difference for test_result_acc: 4.21%
Average min_value difference for test_result_f1: 11.62%